
.pokemon_stat_card .card_container {
    background-color: var(--black-color);
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    z-index: 9;
    transition: transform .4s ease;
    border: 1px solid var(--card-border-color);
    padding: 20px;
    position: relative;
    overflow: visible;
}

.pokemon_stat_card .card_container:hover {
    transform: scale(1.05);
}

.pokemon_stat_card .card_container::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    opacity: 0;
    transition: all .4s ease;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pokemon_stat_card .card_container:hover::before {
    opacity: 1;
}

.pokemon_stat_card .pokemon_stat_image {
    flex-direction: column;
    gap: 20px;
}

.pokemon_stat_card .pokemon_stat_image > div {
    position: absolute;
    top:-40px;
    padding: 10px;
    background: #dad4d4;
    border-radius: 255px;
}

.pokemon_stat_card h3 {
    font-weight: 200;
    margin-top: 10px;
}

.pokemon_stat_card .pokemon_stat_number {
    padding: 0px;
    border-top: 1px solid var(--card-border-color);
    padding-top: 4px;
    transition: border-color .4s ease;
}

.pokemon_stat_card .card_container:hover .pokemon_stat_number {
    border-color: #fff;
}

.pokemon_stat_card .pokemon_stat_number p {
    font-size: 30px;
    font-weight: 900;
}




